@charset "utf-8";

@import 'node_modules/@fortawesome/fontawesome-svg-core/styles';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&family=Raleway&display=swap');

$font-strong: 'Montserrat', sans-serif;
$font: 'Raleway', sans-serif;

$body-background-color: #121b1b;
$card-background-color: #212f2e;
$text: #b66b5e;
$text-strong: #eba48f;
$link: #80b5f1;
$border-color: #9b3f31c2;

$card-shadow: 0;
$card-header-shadow: 0;
$border-light: $text;

$box-background-color: $card-background-color;
$navbar-background-color: $card-background-color;
$footer-background-color: $card-background-color;

$input-background-color: $body-background-color;
$input-border-color: $border-color;
$input-icon-color: $text;
$input-hover-border-color: $link;

$input-placeholder-color: $text;
$button-background-color: $body-background-color;
$button-border-color: $border-color;
$button-color: $text;
$dropdown-content-background-color: $body-background-color;

$input-disabled-background-color: $body-background-color;
$button-disabled-background-color: $body-background-color;

$navbar-item-hover-background-color: transparent;
$navbar-item-hover-color: $text-strong;
$navbar-item-color: $text-strong;
$nav-height: 100px;

$button-focus-color: none;
$button-focus-border-color: none;

@import '../node_modules/bulma/bulma.sass';

html {
  scroll-behavior: smooth;
}

.before-move {
  opacity: 0;
}

$move-amount: 10vw;

.move-right {
  display: flex;
  -webkit-transform: translateX(-$move-amount);
  transform: translateX(-$move-amount);
  -webkit-animation: moveHorizontal 2s ease forwards;
  animation: moveHorizontal 2s ease forwards;
}

.move-left {
  display: flex;
  -webkit-transform: translateX($move-amount);
  transform: translateX($move-amount);
  -webkit-animation: moveHorizontal 2s ease forwards;
  animation: moveHorizontal 2s ease forwards;
}

.move-down {
  display: flex;
  -webkit-transform: translateY(-$move-amount);
  transform: translateY(-$move-amount);
  -webkit-animation: moveVertical 2s ease forwards;
  animation: moveVertical 2s ease forwards;
}

.move-up {
  display: flex;
  -webkit-transform: translateY($move-amount);
  transform: translateY($move-amount);
  -webkit-animation: moveVertical 2s ease forwards;
  animation: moveVertical 2s ease forwards;
}

@keyframes moveHorizontal {
  0% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveVertical {
  0% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.scroll-top {
  position: fixed;
  top: 200px;
  right: 3vw;
  align-items: center;
  justify-content: right;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
}

.scroll-top:hover {
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

button::-moz-focus-inner {
  border: 0;
}

a {
  outline: none;
}

ul .header {
  color: rgb(235, 164, 143);
  position: relative;
  text-decoration: none;

  &::before {
    content: '';
    position: absolute;
    width: 50pt;
    height: 2px;
    bottom: -10%;
    left: 0%;
    background-color: white;
  }
}
//navbar
nav {
  height: $nav-height;
  border-bottom: 2.5px solid $border-color;
}
.navbar-burger {
  height: $nav-height;
}

.navbar-item {
  font-size: 14pt;
}

.navbar-placeholder {
  height: $nav-height;
}

//desktop rules
@media only screen and (min-width: 1024px) {
  //blatantly copied from stack overflow(page is bookmarked)
  .underline {
    position: relative;
    text-decoration: none;
    transition: all 0.35s ease;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 30%;
      left: 0;
      background-color: white;
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
    }

    &:hover {
      &::before {
        visibility: visible;
        -webkit-transform: scaleX(0.9);
        transform: scaleX(0.9);
      }
    }
  }
}

a {
  font-family: $font;
}
.title {
  font-family: $font-strong;
}
.subtitle {
  font-family: $font;
}
.center-text-vertically {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.has-newline {
  white-space: pre-line;
}

.right {
  text-align: right;
}

.full {
  width: 100%;
  height: 100%;
}

img.center-horizontally {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.footer {
  padding: 3rem 1.5rem 1.5rem;
  border-top: 2.5px solid $border-color;
}

//centered mandrake logo horizontally
.media.center {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.app-div {
  flex: 1;
}

nav {
  text-align: center;
  position: fixed !important;
  z-index: 1000;
  transition: opacity 1s;
}
.is-fixed {
  position: fixed !important;
}
.search-mobile {
  margin-left: auto;
}
.navbar-burger {
  margin-left: 0;
}
.search {
  -webkit-transition: visibility 0s, opacity 0.5s linear;
  -moz-transition: visibility 0s, opacity 0.5s linear;
  -o-transition: visibility 0s, opacity 0.5s linear;
  transition: visibility 0s, opacity 0.5s linear;
}
